html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel='stylesheet' href='/public/css/error.css')
    body
        div(class='main')
            div.cont
                h1.text-center 404
                h2.text-center #{msgs}
                br
            div(style='width: 40%; color: white; margin:0 auto')
                marquee(behavior="alternate", direction="left") make sure your're visiting http://localhost:5000